body {
    margin: 0;
}

  a {
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
display: flex;
align-items: center;
height: 100px;
width: 100%;
background: linear-gradient(to bottom, rgb(173, 137, 221), rgb(84, 51, 116));
justify-content: space-between;
}

header .title{
color:white;
border: 5px solid #ce8dc5;
background-image: linear-gradient(to right, rgba(231, 173, 231, 0), rgb(174, 100, 197));
padding: 5px 10px 5px 10px;
float: left;
font-size: xx-large;
border-radius: 5px;
}

header nav a {
float: right;
color: white;
background-image: linear-gradient(to right, rgba(231, 173, 231, 0), rgb(174, 100, 197));
margin-right: 20px;
margin-left: 20px;
font-size: 25px;
padding: 3px 5px 3px 5px;
border: 5px solid #ce8dc5;
border-radius: 5px;
}


header nav {
width: 80%;
}

.fun section {
    background-image: url("./images/pic-of-me.png");
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin: 0;
    height: 100px;
    width: 100px;

}
.fun {
    height: 400px;
    width: 100%;
    background-image:url("./images/Untitled-Artwork.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
}

.fun h2 {
    margin: 0;
    position:  absolute;
    bottom: 10px;
    right: 10px;
    background-color:#ce8dc5;
    padding: 5px 10px;
    border-radius: 5px;
}

.infos {
width: 94%;
overflow: auto;
margin: 30px 0px;
padding: 0 3%;
float: left;
}

.info-title {
width: 20%;
float: left;
text-align: right;
font-size: 30px;
}

.info-title h1 {
margin-right: 10px;
}


.info-content {
width: 80%;
float: right;
box-shadow: 2px 0px 0px 0px black inset;
margin: 10px 0px;
}

.info-content main {
    padding: 6px 40px;
}

#work .info-content main a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
    outline: solid #a772ec;
    color: white;
    float: left; 
    position: relative;
}

#work .info-content main a section{
    background-color: #a772ec;
    font-size: 5px;
    bottom: 10px;
    position: absolute;
    padding: 1px 6px;
}

#work .info-content main a section h2{
    font-size: 20px;
    margin-bottom: -4px;
}

#work .info-content main a section h3{
    font-size: 10px;
}
#work .info-content main .box-main{
    width: 96%;
    margin: 2%;
    height: 300px;
}

#work .info-content main .box-secondary{
    width: 46%;
    margin: 2%;
    height: 150px;
}

.project1 {
    background-image: url("./images/Horiseon-ss.png");
}

.project2 {
    background-image: url("./images/daniel-ss.jpg");   
}

.project3 {
    background-image: url("./images/cats1.jpg");
}

.project4 {
    background-image: url("./images/cats2.jpg");
}

.project5 {
    background-image: url("./images/cats3.jpg");
}

#contacts {
    display: flex;
    background-color: #a772ec;
    align-items: center;
    background: linear-gradient(to bottom, rgb(173, 137, 221), rgb(84, 51, 116));  
    width: 100%;
}

#contacts .info-content a{
    margin-left: 20px;
    background-color: linear-gradient(to right, rgba(231, 173, 231, 0), rgb(174, 100, 197));
    border: 5px solid #ce8dc5;
    border-radius: 5px;
    color:white;
    padding: 7px 5px;
    
}

#contacts .info-content {
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 0em;
}

@media screen and (max-width: 692px) {

    main,
    nav { flex-direction: row;
        flex-wrap: wrap;
    }
    
    aside, 
    .info-content{
      order: 1;
      flex-direction: row;
    }
 
    header .title, 
    header .nav a {
     flex-direction: column;
     flex: 0;
     font-size: xx-small
    }
    
    #contacts .info-content a {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    footer {
        margin-bottom: 0px;
     }
      
     @media screen and (max-width: 690px) {

        main,
        nav { flex-direction: row;
            flex-wrap: wrap;
        }
        
        aside, 
        .info-content{
          order: 1;
          flex-direction: row;
        }
     
        header .title, 
        header .nav a {
         flex-direction: column;
         flex: 0;
         font-size: xx-small
        }
        
        #contacts .info-content a {
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        footer {
            margin-bottom: 0px;
         }
     }
}
